<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>
              <h2>Imagen</h2>
            </ion-label>
            <ion-label>
              <h2>Descripción</h2>
            </ion-label>
            <ion-label>
              <h2>Precio</h2>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item-sliding *ngFor="let producto of productos; let i = index" (click)="verProducto()" >
            <ion-item>
              <ion-label>
                <div class="image_cont">
                  <img [src]="producto.foto" class="image"/>
                </div>
                <!-- {{producto.foto}} -->
              </ion-label>
              <ion-label>
                {{producto.nombre}}
              </ion-label>
              <ion-label>
                ${{producto.precio}}
              </ion-label>
            </ion-item>
            <!-- (ionSwipe)="removeStudent(i)" -->
            <ion-item-options side="start" (ionSwipe)="agregarCarrito(i)" > 
              <ion-item-option expandable color="success">
                Carrito
                <!-- <ion-icon name="trash-outline"></ion-icon> -->
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="options_deploy">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
        <!-- <ion-icon name="chevron-up-circle"></ion-icon> -->
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="verCarrito()">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
